main {
  min-height: auto;
  margin: 94px 0 130px;
}

.team-section {
  display: grid;
  place-items: center;
  justify-content: center;
}

.team-title {
  font-size: 4.4rem;
  font-weight: 700;
  color: #333;
}

.team-cards {
  gap: 30px;
  width: 1200px;
}

.team-card {
  margin-top: 30px;
  padding: 20px;
  width: 25%;
  box-shadow: 0 0 10px #13154709;
  display: grid;
  place-items: center;
}

.team-card img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 0 0 10px #13154708;
}

.team-name {
  padding: 10px 0 6px;
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}

.position {
  font-size: 1.8rem;
  color: #555;
}

.program {
  font-size: 1.4rem;
  color: #555;
}

.icons {
  padding-top: 12px;
  display: flex;
  gap: 10px;
  font-size: 2rem;
  color: #555;
}

.icons i {
  cursor: pointer;
}

.icons i:hover {
  color: #333;
}