.cart {
  .cart-items {}

  .cart-item {
    margin: 20px 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    transition: all 0.25s ease;
    box-shadow: 0 0 10px #b6c4f330;
    border-radius: 6px;
  }

  .item-image {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 60%;
  }

  .item-price {
    display: flex;
    gap: 20px;
    justify-content: end;
  }

  .primary {
    margin-right: 0;
  }

  .empty {
    background: #fff;
    text-align: center;
    min-height: 100vh;
    align-items: center;
    display: grid;
  }
}