@charset "utf-8";
@import url('./product-temp.css'); /* remove when finished */

:root {
  --primary-background: #f8f9fe;
  --box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  --secondary-text-color: #555;
  --transition: all 0.3s ease-in-out;
  --cursor: pointer;
}

html {
  scrollbar-gutter: stable;
}

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

.grid {
  display: grid;
}

.center {
  place-items: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.up-case {
  text-transform: uppercase;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.width-33 {
  width: 33.33%;
}

/* ------------------------------------------ */
/* Header                                     */
/* ------------------------------------------ */
.sub-header {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  background-color: #212486;
  color: var(--primary-background);
}

.main-header {
  height: 70px;
  line-height: 70px;
  background-color: var(--primary-background);
  box-shadow: var(--box-shadow);
}

.company-icon {
  align-items: flex-start;
}

.logo {
  height: 70px;
  width: auto;
}

.header-options {
  position: relative;
  left: 6rem;
}

.header-options ul {
  align-items: center;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--secondary-text-color);
  cursor: var(--cursor);
  transition: var(--transition);
}

.header-options li:hover {
  color: rgb(40, 40, 41);
}

.user {
  flex-direction: row;
  color: #131547;
  padding-left: 266px;
}

.user i {
  font-size: 2.4rem;
  line-height: 70px;
  cursor: var(--cursor);
  transition: var(--transition);
}

.user i:hover {
  color: #636370;
}


/* ------------------------------------------ */
/* Footer                                     */
/* ------------------------------------------ */
footer {
  color: #f8f9fe;
  margin-top: 80px;
  height: 440px;
  background: linear-gradient( #131547, #000);
}

.socials {
  justify-content: center;
  padding: 60px 0 0;
  font-size: 3.4rem;
  color: var(--primary-background);
  cursor: var(--cursor);
  transition: var(--transition);
}

.socials i:hover {
  color: #af295a;
}

.main-footer {
  margin-top: 60px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.7rem;
  border-bottom: 1px solid #acbafa;
}

.ft-logo {
  margin-top: -60px;
  width: 240px;
  height: 160px;
}

.logo-text {
  margin: -10px 0 0 18px;
  font-family: "Dancing Script", cursive;;
  font-size: 2.6rem;
  font-weight: 500;
  color: #93a7ff;
}

footer h4 {
  padding-bottom: 15px;
}

footer li {
  color: #acbafa;
  cursor: var(--cursor);
}

footer li:hover {
  text-decoration: underline;
}

footer span {
  padding-bottom: 60px;
}

.copyright {
  padding: 34px 0 30px;
  font-size: 1.8rem;
  font-weight: 500;
}