@charset "utf-8";

:root {
  --primary-background: #f8f9fe;
  --secondary-background: #fff;
  --box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  --primary-text-color: #333;
  --secondary-text-color: #555;
  --transition: all 0.3s ease-in-out;
  --cursor: pointer;
  --border-radius: 5px;
}

html {
  scrollbar-gutter: stable;
}

main {
  min-height: 100dvh;
}

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

.grid {
  display: grid;
}

.center {
  place-items: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.up-case {
  text-transform: uppercase;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.width-33 {
  width: 33.33%;
}

/* ------------------------------------------ */
/* Header                                     */
/* ------------------------------------------ */
.sub-header {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  background-color: #212486;
  color: var(--primary-background);
}

.main-header {
  height: 70px;
  line-height: 70px;
  background-color: var(--primary-background);
  box-shadow: var(--box-shadow);
}

.company-icon {
  align-items: flex-start;
}

.logo {
  height: 70px;
  width: auto;
}

.header-options {
  position: relative;
  left: 6rem;
}

.header-options ul {
  align-items: center;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--secondary-text-color);
  cursor: var(--cursor);
  transition: var(--transition);
}

.header-options li:hover {
  color: rgb(40, 40, 41);
}

.user {
  flex-direction: row;
  color: #131547;
  padding-left: 266px;
}

.user i {
  font-size: 2.4rem;
  line-height: 70px;
  cursor: var(--cursor);
  transition: var(--transition);
}

.user i:hover {
  color: #636370;
}

/* ------------------------------------------ */
/* Products-List                              */
/* ------------------------------------------ */
.products {
  .sortings {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 100px 0 30px;
    text-align: center;

    h2 {
      padding-bottom: -8px;
      font-size: 2.2rem;
      color: var(--primary-text-color);
    }

    select {
      padding: 10px;
      border-radius: var(--border-radius);
      background-color: #b6c4f345;
    }

    option {
      background-color: #fff;
    }

    option:hover {
      background-color: #b6c4f345;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
    margin-bottom: 100px;
  }

  .sort {
    gap: 20px;
  }

  li {
    width: 270px;
    padding: 10px;
    border-radius: 6px;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 10px;
      border-radius: 4px;
    }

    div {
      display: flex;
      justify-content: space-between;
    }
    .cart {
      cursor: pointer;
    }
  }
}

span.price {
  color: #9a1e4b;
}

.product {
  transition: all 0.25s ease;
  box-shadow: 0 0 10px #b6c4f330;
}

.product:hover {
  scale: 1.005;
  box-shadow: 0 0 10px #b6c4f355;
}

.product-title {
  padding: 10px 0 6px;
  font-size: 1.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart {
  i {
    color: #666;
  }

  ul li {
    display: flex;
    font-size: 20px;
    gap: 20px;
    align-items: center;
    margin: 20px;

    img {
      max-width: 300px;
      max-height: 200px;
      object-fit: cover;
    }
  }

  & > div {
    text-align: right;
  }
}

/* ------------------------------------------ */
/* Product Details                            */
/* ------------------------------------------ */
.product-detail {
  margin-top: 100px;
}

.wrapper {
  padding: 20px;
}

.picture-preview {
  width: 50%;
  margin-right: 40px;
}

.picture-box {
  height: 500px;
  background-color: #b6c4f315;
  display: grid;
  place-items: center;
  border-radius: var(--border-radius);
  padding: 10px;
}

.picture-box img {
  width: auto;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: contain;
}

.thumbnails {
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.thumbnails img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selected-thumbnail {
  border: 2.4px solid #2d309a;
}

.thumbnails img:hover {
  transform: scale(1.1);
}

.details {
  width: 50%;
}

.details h1 {
  font-size: 2.1em;
  color: var(--primary-text-color);
}

.details p {
  font-size: 1.1em;
  color: var(--secondary-text-color);
}

.description {
  margin: 15px 0 16px;
}

.details span {
  color: var(--primary-text-color);
  font-weight: 700;
}

.category {
  padding: 6px 0;
}

.details .price {
  margin: 20px 0 2px;
  font-size: 2.2rem;
}

.details .price .flex {
  align-items: center;
  gap: 10px;
}

.details .original-price span {
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 10px;
}

.details .discounted-price {
  font-size: 3.8rem;
  font-weight: 600;
  color: #b42459;
}
/* 
.price .discount {
  margin-left: 30px;
  padding: 8px;
  font-size: 2rem;
  color: #fff;
  background-color: #b42459;
  border-radius: 40px;
} */

.details .in-stock {
  color: #248621;
}

.details .delivery-date {
  padding-top: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-text-color);
}

button.primary,
button.secondary {
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin: 56px 0 10px;
}

button.primary {
  background-color: #2d309a;
  color: #fff;
  margin-right: 20px;
}

button.primary:hover {
  background-color: #4145ba;
}

button.secondary {
  background-color: #fff;
  color: #2d309a;
  display: flex;
  align-items: center;
  border: 1px solid #2d309a;
}

button.secondary i {
  margin-right: 10px;
}

button.secondary:hover {
  background-color: #2d309a;
  color: #fff;
}

/* ------------------------------------------ */
/* Similar Products                           */
/* ------------------------------------------ */
.similar-products {
  margin: 60px 0 0;
  padding-bottom: 100px;
  background-color: #fff;
}

.similar-products h2 {
  padding-top: 60px;
  font-size: 2.6rem;
  color: var(--primary-text-color);
}

.suggestions {
  width: 100%;
  padding: 20px 0;
}

.suggestions.flex {
  /* flex-wrap: wrap; */
  gap: 10px;
}

.suggestion {
  text-decoration: none;
  width: 200px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 0 10px #b6c4f345;
  border-radius: 5px;
  text-align: center;
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.suggestion img {
  height: 200px;
  width: auto;
  border-radius: 5px;
  object-fit: contain;
}

.suggestions a {
  text-decoration: none;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 500;
}

.suggest-name {
  margin: 5px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.suggestion:hover {
  transform: scale(1.04);
}

.suggestion .flex {
  margin-top: auto;
}

/* ------------------------------------------ */
/* Footer                                     */
/* ------------------------------------------ */
footer {
  color: #f8f9fe;
  height: 440px;
  background: linear-gradient(#131547, #000);
}

.socials {
  justify-content: center;
  padding: 60px 0 0;
  font-size: 3.4rem;
  color: var(--primary-background);
  cursor: var(--cursor);
  transition: var(--transition);
}

.socials i:hover {
  color: #bb3b6a;
}

.main-footer {
  margin-top: 60px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.7rem;
  border-bottom: 1px solid #acbafa;
}

.ft-logo {
  margin-top: -60px;
  width: 240px;
  height: 160px;
}

.logo-text {
  margin: -10px 0 0 18px;
  font-family: "Dancing Script", cursive;
  font-size: 2.6rem;
  font-weight: 500;
  color: #93a7ff;
}

footer h4 {
  padding-bottom: 15px;
}

footer li {
  color: #acbafa;
  cursor: var(--cursor);
}

footer li:hover {
  text-decoration: underline;
}

footer span {
  padding-bottom: 60px;
}

.copyright {
  padding: 34px 0 30px;
  font-size: 1.8rem;
  font-weight: 500;
}
